{#
/**
 * Default theme implementation to present the content of a custom block.
 *
 * Available variables:
 * - types: A collection of all the available custom block types.
 *   - type: The custom block type, containing all the items below.
 *   - type.link: A link to add a block of this type.
 *   - type.description: A description of this custom block type.
 *
 * @see template_preprocess()
 * @see template_preprocess_custom_block_add_list()
 *
 * @ingroup themeable
 */
 #}
<dl class="node-type-list">
  {% for type in types %}
    <dt>{{ type.link }}</dt>
    <dd>{{ type.description }}</dd>
  {% endfor %}
</dl>
